<configuration>
    <dllmap os="linux" cpu="x86-64" wordsize="64" dll="git2-0060d9c" target="lib/linux-x64/libgit2-0060d9c.so" />
    <dllmap os="linux" cpu="arm" wordsize="32" dll="git2-0060d9c" target="lib/linux-arm/libgit2-0060d9c.so" />
    <dllmap os="linux" cpu="armv8" wordsize="64" dll="git2-0060d9c" target="lib/linux-arm64/libgit2-0060d9c.so" />
    <dllmap os="linux" cpu="ppc64le" wordsize="64" dll="git2-0060d9c" target="lib/linux-ppc64le/libgit2-0060d9c.so" />
    <dllmap os="osx" cpu="x86-64" wordsize="64" dll="git2-0060d9c" target="lib/osx-x64/libgit2-0060d9c.dylib" />
    <dllmap os="osx" cpu="armv8" wordsize="64" dll="git2-0060d9c" target="lib/osx-arm64/libgit2-0060d9c.dylib" />
</configuration>
